*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar{
    top: 0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

ul{
    list-style: none;
}

nav{
    font-size: 20px;
}

.nav_links{
    display: flex;
    align-items: center;
}

.nav_links li{
    margin:0 25px;
}

header{
    border: 1px solid silver;
    border-radius: 0 0 20px 20px;
}

/* Mittelteil, Bildergalerie etc. */
section{
    width: 90%;
    margin: 5%;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col{
    width:40%;
}

.row h1{
    font-size: 2em;
}

.row p{
    font-size: small;
}

.col_image{
    width:100%;
}

.bildergalerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.bildergalerie img{
    width: 300px;
    margin: 10px;
    border-radius: 5px;
}



/* responsive */

@media only screen and (max-width:850px){
    .navbar {
        padding:0;
    }
    .logo{
        position: absolute;
    }
    .nav_links{
        flex-direction: column;
        width: 100%;
        height:100%;
        justify-content: center;
    }
    .nav_links li{
        margin: 30px auto;
    }
    .row{
        flex-direction: column;
    }
    .col img{
        max-width:90%;
    }
}

