* {
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 16.6%;
}

.col-2 {
    width: 33.3%;
}

.col-3 {
    width: 50%;
}

.col-4 {
    width: 66.6%;
}

.col-5 {
    width: 83.3%;
}

.col-6 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    header,
    aside,
    footer {
        text-align: center;
    }
}

header {
    text-align: center;
    background-image: URL(https://wallpapercave.com/wp/wp2568544.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

footer {

    margin-top: auto;
    text-align: center;
    background-image: URL(https://wallpapercave.com/wp/wp2568544.jpg);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
    background-position: bottom;
}

iframe {
    padding: 5px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    border: 0
}

table {
    text-align: center;

    border-collapse: collapse;

}

th {
    background-color: aqua;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: bisque;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px dashed black;
}

.ueberschrift {
    align-items: center;
    text-align: center;
    align-content: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}