*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar
__________________________________________________________________________________________________________
*/

.navbar{
    top: 0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

ul {
    list-style: none;
}

nav{
    font-size: 20px;
}

.nav_links{
    display: flex;
    align-items: center;
}

.nav_links a{
    margin:0 25px;
}

ul li a{
    text-decoration: none;
    color: black;
}

.nav_links a:hover{
    text-decoration: underline;
    text-decoration-color: #fd7f00;
    transition: 0.15ms ease-in;
    cursor: pointer;
}

header{
    border: 1px solid silver;
    border-radius: 0 0 20px 20px;
}

/* Mittelteil, Bildergalerie etc.
__________________________________________________________________________________________________________
*/

section{
    width: 90%;
    margin: 5%;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col{
    width:40%;
}

.row h1{
    font-size: 5em;
    font-family: 'Great Vibes', cursive;
}

.row p{
    font-size: small;
}

.col_image{
    width:100%;
}

.bildergalerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    max-width: 800px;
}

.bildergalerie img{
    width: 300px;
    margin: 10px;
    border-radius: 5px;
}

.hotel1 p{
    position: absolute;
    padding-top: 180px;
    padding-left: 30px;
    color: whitesmoke;
    font-size: 3vh;
}

.hotel2 p{
    position: absolute;
    padding-top: 180px;
    padding-left: 30px;
    color: whitesmoke;
    font-size: 3vh;
}

.hotel3 p{
    position: absolute;
    padding-top: 180px;
    padding-left: 30px;
    color: whitesmoke;
    font-size: 3vh;
}

.hotel4 p{
    position: absolute;
    padding-top: 180px;
    padding-left: 30px;
    color: whitesmoke;
    font-size: 3vh;
}

.button{
    margin-top: 1em;
    background: black;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.button:hover{
    background-color: #fd7f00;
    transition: 0.15s;
}

.bildergalerie >* :hover{
    color: #fd7f00;
    transition: 0.15s ease-in;
}

/* Entdecken_Seite
__________________________________________________________________________________________________________
 */

.entdecken h1{
    margin-bottom: 1em;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
}

.entdecken .row{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.entdecken.row,.colums1,.colums2,.colums3,.colums4,.colums5,.colums6,.colums7,.colums8 {
    flex-basis: 15%;
    margin-bottom: 2em;
}

.entdecken .colums1 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;

}
.entdecken .colums2 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;

}

.entdecken .colums3 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;

}

.entdecken .colums4 img{
     height: 280px;
     width: 300px;
     margin: 5px;
     border-radius: 5px;
 }

.entdecken .colums5 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.entdecken .colums5 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.entdecken .colums6 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.entdecken .colums7 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.entdecken .colums8 img{
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.entdecken .row > * {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;

}

.entdecken .row h5 {
    font-size: medium ;
}
.entdecken .row p {
    font-size: small;
}

/* responsive
__________________________________________________________________________________________________________
*/

@media only screen and (max-width:850px){
    .navbar {
        padding:0;
    }
    .logo{
        position: absolute;
    }
    .nav_links{
        flex-direction: column;
        width: 100%;
        height:100%;
        justify-content: center;
    }
    .nav_links li{
        margin: 30px auto;
    }
    .row{
        flex-direction: column;
    }
    .col img{
        max-width:90%;
    }
}

